USE [master]
GO
/****** Object:  Database [student]    Script Date: 2/4/2026 12:02:13 PM ******/
CREATE DATABASE [student]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'student', FILENAME = N'D:\Github\MSSQL17.MSSQLSERVER\MSSQL\DATA\student.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'student_log', FILENAME = N'D:\Github\MSSQL17.MSSQLSERVER\MSSQL\DATA\student_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [student].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [student]
GO
/****** Object:  Table [dbo].[students]    Script Date: 2/4/2026 12:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [uniqueidentifier] NOT NULL,
	[address] [varchar](255) NULL,
	[age] [int] NOT NULL,
	[class_name] [varchar](255) NULL,
	[email] [varchar](255) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[phone_number] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[students] ([id], [address], [age], [class_name], [email], [name], [phone_number]) VALUES (N'94005989-f9fe-4de1-acf5-b620148f031b', N'79 Ngu Hanh Sons', 18, N'ST23A', N'vuong@gmail.coms', N'dep vai anh em a', N'09871800451')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKe2rndfrsx22acpq2ty1caeuyw]    Script Date: 2/4/2026 12:02:13 PM ******/
ALTER TABLE [dbo].[students] ADD  CONSTRAINT [UKe2rndfrsx22acpq2ty1caeuyw] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
